    
    upstream webapp {
        server ${LB_BACKEND_PRIMARY};
        server ${LB_BACKEND_FALLBACK} backup;
    }

    server {
        listen ${LB_PORT};

        location / {
            proxy_pass http://webapp;
        }

        location /_lbcheck {
            return 200 '{ "status":"healthy" } ';
        }
    }
